<html>
  <head>
    <title> azk - Aplicação Demo</title>
    <link href="/static/assets/css/style.css" rel="stylesheet" type="text/css">

  </head>
  <body>
    <div class="sidebar">
      <img class="logo" width="122" height="126" src="/static/assets/images/logo.png" />
      <ul class="social-medias">
        <li>
          <a href="http://azk.io" style="color: #000000;" target="_blank">
            <span class="icon icon--circle icon--link" aria-hidden="true"></span>
          </a>
        </li>
        <li>
          <a href="http://github.com/azukiapp/azk" style="color: #000000;" target="_blank">
           <span class="icon icon--circle icon--github" aria-hidden="true"></span>
          </a>
        </li>
        <li>
          <a href="http://azk.io" style="color: #000000;" target="_blank">
           <span class="icon icon--circle icon--facebook" aria-hidden="true"></span>
          </a>
        </li>
        <li>
          <a href="http://twitter.com/azukiapp" target="_blank" style="color: #000000;">
           <span class="icon icon--circle icon--twitter" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </div>

    <div class="container">
      {{#if client}}
        <h1>Hello world, visitante <span class="visitor">#{{counter}}</span>!</h1>
      {{^}}
        <h1>Hello world!</h1>
      {{/if}}

      <div class="h-line"> &nbsp; </div>

      <p>Possuímos duas etapas para te ajudar com o <strong>azk</strong> e estender esta aplicação.</p>
      <p>Esperamos que você curta!</p>

      <!-- show by step -->
      {{#if equals step "database"}}
        <ol class="steps">
          <li><span class="step-btn step-btn--active">1. Banco de dados</span></li>
          <li><span class="step-btn step-btn--disabled">2. Outros Comandos</span></li>
          <li><span class="step-btn step-btn--disabled">3. Deploy</span></li>
        </ol>
        <!-- Load 'database' partial -->
        {{> database_pt_br }}
        {{> gallery_pt_br }}
      {{else}}
        {{#if equals step "deploy"}}
          <ol class="steps">
            <li><span class="step-btn">✓ Banco de dados</span></li>
            <li><a href="#commands" class="step-btn">2. Outros Comandos</a></li>
            <li><a href="#deploy" class="step-btn step-btn--active">3. Deploy</a></li>
          </ol>
          <!-- Load 'deploy' partial -->
          {{> deploy_pt_br }}
        {{else}}
          <ol class="steps">
            <li><span class="step-btn">✓ Banco de dados</span></li>
            <li><a href="#commands" class="step-btn step-btn--active">2. Outros Comandos</a></li>
            <li><a href="#deploy" class="step-btn">3. Deploy</a></li>
            <!-- Load 'commands' partial -->
          </ol>
          {{> commands_pt_br }}
        {{/if}}
      {{/if}}

      <div class="h-line"> &nbsp; </div>

      <pre class="request">Esta requisição foi processada pela instância <strong class="counter">#{{{ azkData.seq }}}</strong> (ID: <strong class="instance-id">{{{azkData.uid}}}</strong>)</pre>

      <div class="h-line"> &nbsp; </div>
      <div class="footer">
        <p class="copyright"><span class="azuki">Azuki</span></p>
      </div>
    </div>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
  </body>
</html>
